/* see what happens when you use tags instead of classes?
  there can be unintentional changes in your site that are hard to fix
*/
p {
  color: blue;
  font-size: 20px;
}

div {
  border: solid burlywood;
}

.background-bisque {
  background-color: bisque;
}

.impact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.left {
  float: left;
}
